<div
  *alias="isActive$ | async as isActive"
  [@size]="isActive ? 'grow' : 'shrink'"
  [class.incorrect]="isIncorrect$ | async"
  [class.correct]="isCorrect$ | async"
>
  <h2 class="question__clue" [class.question__clue--active]="isActive">{{ question.emojis }}</h2>
  <h1 *ngIf="correctAnswer$ | async as correctAnswer; else captureAnswer" class="correct-answer">
    {{ correctAnswer }}
  </h1>
  <ng-template #captureAnswer>
    <form *ngIf="isActive; else hint" @popup [formGroup]="form" (submit)="checkAnswer()">
      <input type="text" required formControlName="answer" />
      <button type="submit" [disabled]="form.invalid">Check</button>
    </form>
  </ng-template>
  <ng-template #hint>
    <h3 *ngIf="showHints$ | async" class="hint">
      Hint: <span class="hint-text">{{ question.hint }}</span>
    </h3>
  </ng-template>
</div>
